body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u42840 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u42841 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u42842 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u42843 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u42844 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u42845 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u42846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42846 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u42847 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42848 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u42848_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42848_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42849 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u42850 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42851 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42852 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42853 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u42854 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42855 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u42856 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u42857 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u42858 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u42860 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u42861 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u42862 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u42863 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u42864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u42864 {
  position:absolute;
  left:251px;
  top:216px;
  width:32px;
  height:32px;
}
#u42865 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u42866 {
  position:absolute;
  left:737px;
  top:218px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:right;
}
#u42867 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u42868 {
  position:absolute;
  left:241px;
  top:262px;
  width:544px;
  height:884px;
  overflow:hidden;
}
#u42868_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:884px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42868_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42869 {
  position:absolute;
  left:2px;
  top:79px;
  width:542px;
  height:79px;
}
#u42870 {
  position:absolute;
  left:2px;
  top:32px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42871 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:79px;
}
#u42872 {
  position:absolute;
  left:2px;
  top:32px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u42873 {
  position:absolute;
  left:0px;
  top:79px;
  width:544px;
  height:1px;
}
#u42874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u42875 {
  position:absolute;
  left:-2px;
  top:157px;
  width:544px;
  height:1px;
}
#u42876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42877 {
  position:absolute;
  left:87px;
  top:29px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42878 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u42879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42879 {
  position:absolute;
  left:87px;
  top:108px;
  width:196px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42880 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u42881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u42881 {
  position:absolute;
  left:14px;
  top:19px;
  width:42px;
  height:42px;
}
#u42882 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u42883 {
  position:absolute;
  left:14px;
  top:98px;
  width:42px;
  height:42px;
}
#u42884 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42868_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:884px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42868_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:802px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42885 {
  position:absolute;
  left:2px;
  top:79px;
  width:542px;
  height:802px;
}
#u42886 {
  position:absolute;
  left:2px;
  top:393px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42887 {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:79px;
}
#u42888 {
  position:absolute;
  left:2px;
  top:32px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u42889 {
  position:absolute;
  left:0px;
  top:79px;
  width:544px;
  height:1px;
}
#u42890 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42891 {
  position:absolute;
  left:218px;
  top:29px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u42892 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u42893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u42893 {
  position:absolute;
  left:51px;
  top:114px;
  width:440px;
  height:200px;
  font-size:20px;
}
#u42894 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u42895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u42895 {
  position:absolute;
  left:314px;
  top:278px;
  width:177px;
  height:24px;
  font-size:20px;
}
#u42896 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u42897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u42897 {
  position:absolute;
  left:450px;
  top:312px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u42898 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u42899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u42899 {
  position:absolute;
  left:51px;
  top:238px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u42900 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u42901_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u42901 {
  position:absolute;
  left:80px;
  top:40px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u42902 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u42903 {
  position:absolute;
  left:199px;
  top:1414px;
  width:1128px;
  height:447px;
}
#u42904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u42904 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u42905 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u42906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u42906 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u42907 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u42908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u42908 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u42909 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u42910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u42910 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u42911 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u42912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u42912 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u42913 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u42914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42914 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u42915 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u42916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42916 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u42917 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u42918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42918 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u42919 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u42920 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u42921 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u42922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u42922 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u42923 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42924 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u42925 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u42926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42926 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u42927 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u42928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u42928 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u42929 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u42930 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u42931 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u42932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u42932 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:100px;
  text-align:left;
}
#u42933 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u42934 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u42935 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u42936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u42936 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u42937 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u42938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u42938 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u42939 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u42940 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u42941 {
  position:absolute;
  left:2px;
  top:20px;
  width:441px;
  word-wrap:break-word;
}
#u42942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u42942 {
  position:absolute;
  left:775px;
  top:268px;
  width:348px;
  height:87px;
  text-align:left;
}
#u42943 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u42944 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:87px;
}
#u42945 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u42946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u42946 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:87px;
}
#u42947 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u42948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u42948 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:87px;
}
#u42949 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u42950 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:87px;
  text-align:left;
}
#u42951 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u42952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u42952 {
  position:absolute;
  left:775px;
  top:355px;
  width:348px;
  height:87px;
  text-align:left;
}
#u42953 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42954 {
  position:absolute;
  left:215px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42955 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u42956_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u42956 {
  position:absolute;
  left:251px;
  top:176px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u42957 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u42958_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u42958 {
  position:absolute;
  left:394px;
  top:262px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u42959 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u42960_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u42960 {
  position:absolute;
  left:714px;
  top:202px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u42961 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
