body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19673 {
  position:absolute;
  left:0px;
  top:74px;
  width:1400px;
  height:900px;
}
#u19674 {
  position:absolute;
  left:2px;
  top:442px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19675 {
  position:absolute;
  left:0px;
  top:74px;
  width:1400px;
  height:98px;
}
#u19676 {
  position:absolute;
  left:2px;
  top:41px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19677 {
  position:absolute;
  left:0px;
  top:74px;
  width:168px;
  height:900px;
}
#u19678 {
  position:absolute;
  left:2px;
  top:442px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u19679 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u19680 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u19681 {
  position:absolute;
  left:70px;
  top:14px;
  width:154px;
  height:16px;
  font-size:32px;
}
#u19682 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  visibility:hidden;
  white-space:nowrap;
}
#u19683 {
  position:absolute;
  left:0px;
  top:172px;
  width:168px;
  height:90px;
}
#u19683_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:174px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u19684 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:95px;
}
#u19685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u19685 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u19686 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u19687 {
  position:absolute;
  left:0px;
  top:30px;
  width:168px;
  height:30px;
}
#u19688 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u19689 {
  position:absolute;
  left:0px;
  top:60px;
  width:168px;
  height:30px;
}
#u19690 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:69px;
}
#u19691 {
  position:absolute;
  left:17px;
  top:89px;
  width:120px;
  height:69px;
}
#u19692 {
  position:absolute;
  left:2px;
  top:26px;
  width:116px;
  word-wrap:break-word;
}
#u19693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19693 {
  position:absolute;
  left:1199px;
  top:104px;
  width:40px;
  height:40px;
}
#u19694 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19695 {
  position:absolute;
  left:1102px;
  top:104px;
  width:40px;
  height:40px;
}
#u19696 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u19697 {
  position:absolute;
  left:1292px;
  top:113px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u19698 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19699 {
  position:absolute;
  left:972px;
  top:148px;
}
#u19699_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19699_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
}
#u19701 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
}
#u19702 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19703 {
  position:absolute;
  left:0px;
  top:24px;
  width:300px;
  height:51px;
}
#u19704 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u19705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19705 {
  position:absolute;
  left:0px;
  top:75px;
  width:300px;
  height:51px;
}
#u19706 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u19707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19707 {
  position:absolute;
  left:0px;
  top:125px;
  width:300px;
  height:51px;
}
#u19708 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u19709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
}
#u19710 {
  position:absolute;
  left:97px;
  top:0px;
  width:300px;
  height:176px;
}
#u19711 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19712 {
  position:absolute;
  left:97px;
  top:24px;
  width:300px;
  height:51px;
}
#u19713 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u19714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19714 {
  position:absolute;
  left:97px;
  top:75px;
  width:300px;
  height:51px;
}
#u19715 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u19716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19716 {
  position:absolute;
  left:97px;
  top:125px;
  width:300px;
  height:51px;
}
#u19717 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u19718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:126px;
}
#u19719 {
  position:absolute;
  left:227px;
  top:0px;
  width:235px;
  height:126px;
}
#u19720 {
  position:absolute;
  left:2px;
  top:55px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19721 {
  position:absolute;
  left:227px;
  top:24px;
  width:235px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19722 {
  position:absolute;
  left:2px;
  top:14px;
  width:231px;
  word-wrap:break-word;
}
#u19723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19723 {
  position:absolute;
  left:227px;
  top:75px;
  width:235px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19724 {
  position:absolute;
  left:2px;
  top:14px;
  width:231px;
  word-wrap:break-word;
}
#u19725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19725 {
  position:absolute;
  left:178px;
  top:182px;
  width:55px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19726 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  visibility:hidden;
  white-space:nowrap;
}
#u19727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u19727 {
  position:absolute;
  left:463px;
  top:216px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u19728 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19729 {
  position:absolute;
  left:843px;
  top:509px;
  width:105px;
  height:16px;
}
#u19730 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19731 {
  position:absolute;
  left:395px;
  top:292px;
  width:129px;
  height:16px;
}
#u19732 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u19733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19733 {
  position:absolute;
  left:395px;
  top:326px;
  width:73px;
  height:16px;
}
#u19734 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19735 {
  position:absolute;
  left:395px;
  top:360px;
  width:197px;
  height:16px;
}
#u19736 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u19737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19737 {
  position:absolute;
  left:395px;
  top:394px;
  width:43px;
  height:16px;
}
#u19738 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:2px;
}
#u19739 {
  position:absolute;
  left:408px;
  top:472px;
  width:702px;
  height:1px;
}
#u19740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19741 {
  position:absolute;
  left:395px;
  top:483px;
  width:57px;
  height:16px;
}
#u19742 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19743 {
  position:absolute;
  left:251px;
  top:1204px;
  width:1128px;
  height:141px;
}
#u19744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19744 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19745 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u19746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19746 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u19747 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u19748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19748 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u19749 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u19750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u19750 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u19751 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u19752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u19752 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u19753 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u19754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19754 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:68px;
}
#u19755 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19756 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:68px;
}
#u19757 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u19758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u19758 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:68px;
}
#u19759 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u19760 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:68px;
}
#u19761 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u19762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u19762 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:68px;
}
#u19763 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19764 {
  position:absolute;
  left:267px;
  top:1139px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19765 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u19766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19766 {
  position:absolute;
  left:395px;
  top:257px;
  width:145px;
  height:16px;
}
#u19767 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u19768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19768 {
  position:absolute;
  left:843px;
  top:330px;
  width:57px;
  height:16px;
}
#u19769 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:61px;
}
#u19770 {
  position:absolute;
  left:395px;
  top:196px;
  width:58px;
  height:61px;
}
#u19771 {
  position:absolute;
  left:2px;
  top:22px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19772 {
  position:absolute;
  left:431px;
  top:509px;
  width:73px;
  height:16px;
}
#u19773 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19774 {
  position:absolute;
  left:843px;
  top:585px;
  width:105px;
  height:16px;
}
#u19775 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19776 {
  position:absolute;
  left:395px;
  top:559px;
  width:57px;
  height:16px;
}
#u19777 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19778 {
  position:absolute;
  left:431px;
  top:585px;
  width:43px;
  height:16px;
}
#u19779 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:2px;
}
#u19780 {
  position:absolute;
  left:408px;
  top:548px;
  width:702px;
  height:1px;
}
#u19781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
