body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1658px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1526px;
  height:958px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1128 {
  position:absolute;
  left:0px;
  top:64px;
  width:1526px;
  height:958px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:471px;
  width:1522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:98px;
}
#u1130 {
  position:absolute;
  left:0px;
  top:64px;
  width:168px;
  height:98px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:41px;
  width:164px;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1132 {
  position:absolute;
  left:1222px;
  top:99px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1134 {
  position:absolute;
  left:1335px;
  top:99px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136 {
  position:absolute;
  left:428px;
  top:292px;
  width:670px;
  height:486px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:235px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1138 {
  position:absolute;
  left:441px;
  top:315px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1140 {
  position:absolute;
  left:691px;
  top:680px;
  width:60px;
  height:60px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1142 {
  position:absolute;
  left:885px;
  top:680px;
  width:60px;
  height:60px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1144 {
  position:absolute;
  left:784px;
  top:680px;
  width:60px;
  height:60px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146 {
  position:absolute;
  left:613px;
  top:389px;
  width:300px;
  height:45px;
}
#u1146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u1147 {
  position:absolute;
  left:613px;
  top:444px;
  width:300px;
  height:45px;
}
#u1147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u1148 {
  position:absolute;
  left:613px;
  top:517px;
  width:300px;
  height:47px;
}
#u1148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1149 {
  position:absolute;
  left:518px;
  top:699px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1151 {
  position:absolute;
  left:660px;
  top:586px;
  width:97px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1152 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1153 {
  position:absolute;
  left:428px;
  top:228px;
  width:50px;
  height:64px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1155 {
  position:absolute;
  left:498px;
  top:242px;
  width:154px;
  height:37px;
  font-size:32px;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u1159 {
  position:absolute;
  left:70px;
  top:14px;
  width:154px;
  height:37px;
  font-size:32px;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u1161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162 {
  position:absolute;
  left:251px;
  top:1204px;
  width:1412px;
  height:634px;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u1165 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u1167 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u1169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u1169 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:68px;
}
#u1171 {
  position:absolute;
  left:775px;
  top:0px;
  width:632px;
  height:68px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:26px;
  width:628px;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1173 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1175 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1177 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u1179 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u1180 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
}
#u1181 {
  position:absolute;
  left:775px;
  top:68px;
  width:632px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u1182 {
  position:absolute;
  left:2px;
  top:42px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1183 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u1184 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1185 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1187 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u1189 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u1190 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
}
#u1191 {
  position:absolute;
  left:775px;
  top:168px;
  width:632px;
  height:100px;
  text-align:left;
}
#u1192 {
  position:absolute;
  left:2px;
  top:42px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1193 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1195 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1197 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u1199 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u1200 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:87px;
}
#u1201 {
  position:absolute;
  left:775px;
  top:268px;
  width:632px;
  height:87px;
  text-align:left;
}
#u1202 {
  position:absolute;
  left:2px;
  top:20px;
  width:628px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1203 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:100px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1205 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:100px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u1207 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:100px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u1209 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:100px;
  text-align:left;
}
#u1210 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
}
#u1211 {
  position:absolute;
  left:775px;
  top:355px;
  width:632px;
  height:100px;
  text-align:left;
}
#u1212 {
  position:absolute;
  left:2px;
  top:42px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1213 {
  position:absolute;
  left:0px;
  top:455px;
  width:110px;
  height:87px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1215 {
  position:absolute;
  left:110px;
  top:455px;
  width:110px;
  height:87px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1217 {
  position:absolute;
  left:220px;
  top:455px;
  width:110px;
  height:87px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u1219 {
  position:absolute;
  left:330px;
  top:455px;
  width:445px;
  height:87px;
  text-align:left;
}
#u1220 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:87px;
}
#u1221 {
  position:absolute;
  left:775px;
  top:455px;
  width:632px;
  height:87px;
  text-align:left;
}
#u1222 {
  position:absolute;
  left:2px;
  top:36px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1223 {
  position:absolute;
  left:0px;
  top:542px;
  width:110px;
  height:87px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1225 {
  position:absolute;
  left:110px;
  top:542px;
  width:110px;
  height:87px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u1227 {
  position:absolute;
  left:220px;
  top:542px;
  width:110px;
  height:87px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u1229 {
  position:absolute;
  left:330px;
  top:542px;
  width:445px;
  height:87px;
  text-align:left;
}
#u1230 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:87px;
}
#u1231 {
  position:absolute;
  left:775px;
  top:542px;
  width:632px;
  height:87px;
  text-align:left;
}
#u1232 {
  position:absolute;
  left:2px;
  top:36px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1233 {
  position:absolute;
  left:267px;
  top:1139px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1235_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1235 {
  position:absolute;
  left:748px;
  top:389px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1237 {
  position:absolute;
  left:748px;
  top:449px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1239 {
  position:absolute;
  left:691px;
  top:524px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1241 {
  position:absolute;
  left:620px;
  top:577px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1243 {
  position:absolute;
  left:867px;
  top:577px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1245 {
  position:absolute;
  left:478px;
  top:690px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u1247 {
  position:absolute;
  left:776px;
  top:586px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1249 {
  position:absolute;
  left:563px;
  top:390px;
  width:40px;
  height:40px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1251 {
  position:absolute;
  left:563px;
  top:446px;
  width:40px;
  height:40px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
