body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20776 {
  position:absolute;
  left:935px;
  top:178px;
  width:543px;
  height:193px;
}
#u20777 {
  position:absolute;
  left:2px;
  top:88px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20779 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u20780 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u20781 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u20782 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u20783 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u20784 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u20785 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u20786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20786 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u20787 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20788 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u20788_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20788_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20789 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u20790 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20791 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20792 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u20793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20793 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u20794 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20795 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u20796 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u20797 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u20798 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20799 {
  position:absolute;
  left:242px;
  top:713px;
  width:542px;
  height:76px;
}
#u20800 {
  position:absolute;
  left:2px;
  top:30px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:165px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20801 {
  position:absolute;
  left:239px;
  top:789px;
  width:544px;
  height:165px;
}
#u20802 {
  position:absolute;
  left:2px;
  top:74px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20803 {
  position:absolute;
  left:243px;
  top:507px;
  width:542px;
  height:85px;
}
#u20804 {
  position:absolute;
  left:2px;
  top:34px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20805 {
  position:absolute;
  left:242px;
  top:591px;
  width:542px;
  height:85px;
}
#u20806 {
  position:absolute;
  left:2px;
  top:34px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20807 {
  position:absolute;
  left:243px;
  top:417px;
  width:542px;
  height:90px;
}
#u20808 {
  position:absolute;
  left:2px;
  top:37px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u20810 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u20811 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20812 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u20813 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u20814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u20814 {
  position:absolute;
  left:251px;
  top:216px;
  width:32px;
  height:32px;
}
#u20815 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:155px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20816 {
  position:absolute;
  left:241px;
  top:262px;
  width:542px;
  height:155px;
}
#u20817 {
  position:absolute;
  left:2px;
  top:70px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u20818 {
  position:absolute;
  left:625px;
  top:287px;
  width:120px;
  height:120px;
}
#u20819 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20820 {
  position:absolute;
  left:745px;
  top:332px;
  width:30px;
  height:30px;
}
#u20821 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20822 {
  position:absolute;
  left:251px;
  top:336px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20823 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20824 {
  position:absolute;
  left:251px;
  top:450px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20825 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20826 {
  position:absolute;
  left:239px;
  top:417px;
  width:544px;
  height:1px;
}
#u20827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20828 {
  position:absolute;
  left:251px;
  top:537px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20829 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20830 {
  position:absolute;
  left:241px;
  top:506px;
  width:544px;
  height:1px;
}
#u20831 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20832 {
  position:absolute;
  left:239px;
  top:591px;
  width:544px;
  height:1px;
}
#u20833 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20834 {
  position:absolute;
  left:251px;
  top:619px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20835 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20836 {
  position:absolute;
  left:241px;
  top:954px;
  width:542px;
  height:77px;
}
#u20837 {
  position:absolute;
  left:2px;
  top:30px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20838 {
  position:absolute;
  left:251px;
  top:735px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20839 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u20840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20840 {
  position:absolute;
  left:239px;
  top:789px;
  width:544px;
  height:1px;
}
#u20841 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20842 {
  position:absolute;
  left:251px;
  top:817px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20843 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u20844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20844 {
  position:absolute;
  left:667px;
  top:450px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20845 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u20846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20846 {
  position:absolute;
  left:685px;
  top:537px;
  width:19px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20847 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u20848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20848 {
  position:absolute;
  left:559px;
  top:619px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20849 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u20850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20850 {
  position:absolute;
  left:611px;
  top:735px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20851 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u20852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20852 {
  position:absolute;
  left:745px;
  top:615px;
  width:30px;
  height:30px;
}
#u20853 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20854 {
  position:absolute;
  left:241px;
  top:955px;
  visibility:hidden;
}
#u20854_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20854_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20855 {
  position:absolute;
  left:1px;
  top:0px;
  width:543px;
  height:61px;
}
#u20856 {
  position:absolute;
  left:2px;
  top:22px;
  width:539px;
  word-wrap:break-word;
}
#u20857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20857 {
  position:absolute;
  left:0px;
  top:61px;
  width:543px;
  height:61px;
}
#u20858 {
  position:absolute;
  left:2px;
  top:22px;
  width:539px;
  word-wrap:break-word;
}
#u20859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20859 {
  position:absolute;
  left:1px;
  top:132px;
  width:543px;
  height:61px;
}
#u20860 {
  position:absolute;
  left:2px;
  top:22px;
  width:539px;
  word-wrap:break-word;
}
#u20861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20861 {
  position:absolute;
  left:-1px;
  top:61px;
  width:544px;
  height:1px;
}
#u20862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20863 {
  position:absolute;
  left:935px;
  top:178px;
  width:543px;
  height:61px;
}
#u20864 {
  position:absolute;
  left:2px;
  top:22px;
  width:539px;
  word-wrap:break-word;
}
#u20865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20865 {
  position:absolute;
  left:934px;
  top:239px;
  width:543px;
  height:61px;
}
#u20866 {
  position:absolute;
  left:2px;
  top:22px;
  width:539px;
  word-wrap:break-word;
}
#u20867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20867 {
  position:absolute;
  left:935px;
  top:310px;
  width:543px;
  height:61px;
}
#u20868 {
  position:absolute;
  left:2px;
  top:22px;
  width:539px;
  word-wrap:break-word;
}
#u20869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u20869 {
  position:absolute;
  left:935px;
  top:104px;
  width:50px;
  height:64px;
}
#u20870 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u20871 {
  position:absolute;
  left:1005px;
  top:118px;
  width:225px;
  height:37px;
  font-size:32px;
}
#u20872 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u20873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20873 {
  position:absolute;
  left:944px;
  top:239px;
  width:544px;
  height:1px;
}
#u20874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20875 {
  position:absolute;
  left:239px;
  top:262px;
  width:544px;
  height:155px;
}
#u20876 {
  position:absolute;
  left:2px;
  top:70px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20877 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:882px;
}
#u20878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u20878 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u20879 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u20880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u20880 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u20881 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u20882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u20882 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u20883 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u20884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u20884 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u20885 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u20886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u20886 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u20887 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u20888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u20888 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u20889 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u20890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u20890 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u20891 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u20892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u20892 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u20893 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u20894 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u20895 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u20896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u20896 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u20897 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u20898 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u20899 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u20900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u20900 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u20901 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u20902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u20902 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u20903 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u20904 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u20905 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u20906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u20906 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:100px;
  text-align:left;
}
#u20907 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20908 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u20909 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20910 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u20911 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20912 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u20913 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20914 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20915 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20916 {
  position:absolute;
  left:775px;
  top:268px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20917 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20918 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:87px;
}
#u20919 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20920 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:87px;
}
#u20921 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20922 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:87px;
}
#u20923 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20924 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20925 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20926 {
  position:absolute;
  left:775px;
  top:355px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20927 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20928 {
  position:absolute;
  left:0px;
  top:442px;
  width:110px;
  height:87px;
}
#u20929 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20930 {
  position:absolute;
  left:110px;
  top:442px;
  width:110px;
  height:87px;
}
#u20931 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20932 {
  position:absolute;
  left:220px;
  top:442px;
  width:110px;
  height:87px;
}
#u20933 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20934 {
  position:absolute;
  left:330px;
  top:442px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20935 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20936 {
  position:absolute;
  left:775px;
  top:442px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20937 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20938 {
  position:absolute;
  left:0px;
  top:529px;
  width:110px;
  height:87px;
}
#u20939 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20940 {
  position:absolute;
  left:110px;
  top:529px;
  width:110px;
  height:87px;
}
#u20941 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20942 {
  position:absolute;
  left:220px;
  top:529px;
  width:110px;
  height:87px;
}
#u20943 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20944 {
  position:absolute;
  left:330px;
  top:529px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20945 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20946 {
  position:absolute;
  left:775px;
  top:529px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20947 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20948 {
  position:absolute;
  left:0px;
  top:616px;
  width:110px;
  height:87px;
}
#u20949 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20950 {
  position:absolute;
  left:110px;
  top:616px;
  width:110px;
  height:87px;
}
#u20951 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20952 {
  position:absolute;
  left:220px;
  top:616px;
  width:110px;
  height:87px;
}
#u20953 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20954 {
  position:absolute;
  left:330px;
  top:616px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20955 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20956 {
  position:absolute;
  left:775px;
  top:616px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20957 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20958 {
  position:absolute;
  left:0px;
  top:703px;
  width:110px;
  height:87px;
}
#u20959 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20960 {
  position:absolute;
  left:110px;
  top:703px;
  width:110px;
  height:87px;
}
#u20961 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20962 {
  position:absolute;
  left:220px;
  top:703px;
  width:110px;
  height:87px;
}
#u20963 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20964 {
  position:absolute;
  left:330px;
  top:703px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20965 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20966 {
  position:absolute;
  left:775px;
  top:703px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20967 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20968 {
  position:absolute;
  left:0px;
  top:790px;
  width:110px;
  height:87px;
}
#u20969 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20970 {
  position:absolute;
  left:110px;
  top:790px;
  width:110px;
  height:87px;
}
#u20971 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u20972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u20972 {
  position:absolute;
  left:220px;
  top:790px;
  width:110px;
  height:87px;
}
#u20973 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u20974 {
  position:absolute;
  left:330px;
  top:790px;
  width:445px;
  height:87px;
  text-align:left;
}
#u20975 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u20976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u20976 {
  position:absolute;
  left:775px;
  top:790px;
  width:348px;
  height:87px;
  text-align:left;
}
#u20977 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20978 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20979 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u20980_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20980 {
  position:absolute;
  left:251px;
  top:176px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20981 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20982_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20982 {
  position:absolute;
  left:526px;
  top:332px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20983 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20984_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20984 {
  position:absolute;
  left:477px;
  top:601px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20985 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20986_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20986 {
  position:absolute;
  left:1055px;
  top:189px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20987 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20988_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20988 {
  position:absolute;
  left:1055px;
  top:254px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20989 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20990_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20990 {
  position:absolute;
  left:1055px;
  top:322px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20991 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u20992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u20992 {
  position:absolute;
  left:241px;
  top:874px;
  width:544px;
  height:1px;
}
#u20993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20994 {
  position:absolute;
  left:253px;
  top:902px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20995 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20996 {
  position:absolute;
  left:745px;
  top:975px;
  width:30px;
  height:30px;
}
#u20997 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20998_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u20998 {
  position:absolute;
  left:479px;
  top:888px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u20999 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u21000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21000 {
  position:absolute;
  left:611px;
  top:817px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21001 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u21002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u21002 {
  position:absolute;
  left:241px;
  top:954px;
  width:544px;
  height:1px;
}
#u21003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21004 {
  position:absolute;
  left:251px;
  top:979px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21005 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21006 {
  position:absolute;
  left:612px;
  top:906px;
  width:110px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21007 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u21008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21008 {
  position:absolute;
  left:745px;
  top:446px;
  width:30px;
  height:30px;
}
#u21009 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21010 {
  position:absolute;
  left:745px;
  top:731px;
  width:30px;
  height:30px;
}
#u21011 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21012_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u21012 {
  position:absolute;
  left:479px;
  top:726px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21013 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u21014_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u21014 {
  position:absolute;
  left:479px;
  top:446px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21015 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
