body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1053px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4986 {
  position:absolute;
  left:347px;
  top:294px;
  visibility:hidden;
}
#u4986_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4986_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:312px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:148px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4989 {
  position:absolute;
  left:132px;
  top:147px;
  width:443px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4990 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u4992 {
  position:absolute;
  left:347px;
  top:294px;
  visibility:hidden;
}
#u4992_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4992_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:312px;
}
#u4994 {
  position:absolute;
  left:2px;
  top:148px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4995 {
  position:absolute;
  left:186px;
  top:193px;
  width:140px;
  height:25px;
}
#u4995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4996 {
  position:absolute;
  left:382px;
  top:193px;
  width:140px;
  height:25px;
}
#u4996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u4997 {
  position:absolute;
  left:132px;
  top:92px;
  width:443px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4998 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
