body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u6178 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u6179 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u6180 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u6181 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u6182 {
  position:absolute;
  left:270px;
  top:14px;
  width:161px;
  height:37px;
  font-size:32px;
}
#u6183 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u6184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6184 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u6185 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u6186 {
  position:absolute;
  left:362px;
  top:329px;
  width:300px;
  height:170px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u6188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6188 {
  position:absolute;
  left:362px;
  top:981px;
  width:60px;
  height:60px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6190 {
  position:absolute;
  left:602px;
  top:981px;
  width:60px;
  height:60px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6192 {
  position:absolute;
  left:483px;
  top:981px;
  width:60px;
  height:60px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6194 {
  position:absolute;
  left:362px;
  top:655px;
  width:300px;
  height:47px;
}
#u6194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6195 {
  position:absolute;
  left:431px;
  top:924px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6196 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u6197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u6197 {
  position:absolute;
  left:349px;
  top:970px;
  width:327px;
  height:1px;
}
#u6198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6199 {
  position:absolute;
  left:409px;
  top:724px;
  width:97px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6200 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6201_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6201 {
  position:absolute;
  left:463px;
  top:527px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6202 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6203_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6203 {
  position:absolute;
  left:463px;
  top:587px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6204 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6205_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6205 {
  position:absolute;
  left:443px;
  top:662px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6206 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6207 {
  position:absolute;
  left:616px;
  top:712px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6208 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u6210 {
  position:absolute;
  left:525px;
  top:726px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6211 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6212 {
  position:absolute;
  left:210px;
  top:1392px;
  width:1128px;
  height:634px;
}
#u6213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u6214 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u6215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u6215 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u6216 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u6217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u6217 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u6218 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u6219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u6219 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u6220 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u6221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u6221 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u6222 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u6223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6223 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u6224 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u6225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6225 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u6226 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u6227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6227 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u6228 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u6229 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u6230 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u6231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u6231 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u6232 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6233 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u6234 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u6235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6235 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u6236 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u6237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6237 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u6238 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u6239 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u6240 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u6241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u6241 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:100px;
  text-align:left;
}
#u6242 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6243 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u6244 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u6245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6245 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u6246 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u6247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6247 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u6248 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u6249 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u6250 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u6251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u6251 {
  position:absolute;
  left:775px;
  top:268px;
  width:348px;
  height:87px;
  text-align:left;
}
#u6252 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u6253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6253 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:100px;
}
#u6254 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u6255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6255 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:100px;
}
#u6256 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u6257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u6257 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:100px;
}
#u6258 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u6259 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:100px;
  text-align:left;
}
#u6260 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u6261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u6261 {
  position:absolute;
  left:775px;
  top:355px;
  width:348px;
  height:100px;
  text-align:left;
}
#u6262 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6263 {
  position:absolute;
  left:0px;
  top:455px;
  width:110px;
  height:87px;
}
#u6264 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u6265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6265 {
  position:absolute;
  left:110px;
  top:455px;
  width:110px;
  height:87px;
}
#u6266 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u6267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6267 {
  position:absolute;
  left:220px;
  top:455px;
  width:110px;
  height:87px;
}
#u6268 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u6269 {
  position:absolute;
  left:330px;
  top:455px;
  width:445px;
  height:87px;
  text-align:left;
}
#u6270 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u6271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u6271 {
  position:absolute;
  left:775px;
  top:455px;
  width:348px;
  height:87px;
  text-align:left;
}
#u6272 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6273 {
  position:absolute;
  left:0px;
  top:542px;
  width:110px;
  height:87px;
}
#u6274 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u6275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6275 {
  position:absolute;
  left:110px;
  top:542px;
  width:110px;
  height:87px;
}
#u6276 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u6277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u6277 {
  position:absolute;
  left:220px;
  top:542px;
  width:110px;
  height:87px;
}
#u6278 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u6279 {
  position:absolute;
  left:330px;
  top:542px;
  width:445px;
  height:87px;
  text-align:left;
}
#u6280 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u6281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u6281 {
  position:absolute;
  left:775px;
  top:542px;
  width:348px;
  height:87px;
  text-align:left;
}
#u6282 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6283 {
  position:absolute;
  left:226px;
  top:1327px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6284 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6285_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6285 {
  position:absolute;
  left:369px;
  top:715px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6286 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6287_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u6287 {
  position:absolute;
  left:391px;
  top:920px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6288 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u6289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6289 {
  position:absolute;
  left:322px;
  top:530px;
  width:40px;
  height:40px;
}
#u6290 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6291 {
  position:absolute;
  left:322px;
  top:586px;
  width:40px;
  height:40px;
}
#u6292 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:2px;
}
#u6293 {
  position:absolute;
  left:362px;
  top:571px;
  width:293px;
  height:1px;
}
#u6294 {
  position:absolute;
  left:2px;
  top:-8px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u6295 {
  position:absolute;
  left:362px;
  top:542px;
  width:83px;
  height:16px;
  color:#BCBCBC;
}
#u6296 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u6297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:2px;
}
#u6297 {
  position:absolute;
  left:362px;
  top:626px;
  width:293px;
  height:1px;
}
#u6298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u6299 {
  position:absolute;
  left:362px;
  top:597px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u6300 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
