body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u44189 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u44190 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u44191 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u44192 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u44193 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u44194 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u44195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44195 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u44196 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44197 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u44197_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44197_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44198 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u44199 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44200 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44201 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u44202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44202 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u44203 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44204 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u44205 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44206 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u44207 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:883px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44208 {
  position:absolute;
  left:239px;
  top:264px;
  width:546px;
  height:883px;
}
#u44209 {
  position:absolute;
  left:2px;
  top:434px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u44210 {
  position:absolute;
  left:733px;
  top:222px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u44211 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u44212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u44213 {
  position:absolute;
  left:241px;
  top:180px;
  width:546px;
  height:84px;
}
#u44214 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u44215 {
  position:absolute;
  left:253px;
  top:218px;
  width:32px;
  height:32px;
}
#u44216 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:426px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44217 {
  position:absolute;
  left:243px;
  top:266px;
  width:542px;
  height:426px;
}
#u44218 {
  position:absolute;
  left:2px;
  top:205px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u44219 {
  position:absolute;
  left:241px;
  top:464px;
  width:544px;
  height:1px;
}
#u44220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u44221 {
  position:absolute;
  left:252px;
  top:430px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u44222 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u44223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44223 {
  position:absolute;
  left:275px;
  top:486px;
  width:45px;
  height:45px;
}
#u44224 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44225 {
  position:absolute;
  left:358px;
  top:486px;
  width:45px;
  height:45px;
}
#u44226 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44227 {
  position:absolute;
  left:447px;
  top:486px;
  width:45px;
  height:45px;
}
#u44228 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44229 {
  position:absolute;
  left:539px;
  top:486px;
  width:45px;
  height:45px;
}
#u44230 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44231 {
  position:absolute;
  left:643px;
  top:486px;
  width:45px;
  height:45px;
}
#u44232 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u44233 {
  position:absolute;
  left:242px;
  top:584px;
  width:544px;
  height:1px;
}
#u44234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u44235 {
  position:absolute;
  left:252px;
  top:550px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u44236 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u44237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44237 {
  position:absolute;
  left:275px;
  top:606px;
  width:45px;
  height:45px;
}
#u44238 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44239 {
  position:absolute;
  left:358px;
  top:606px;
  width:45px;
  height:45px;
}
#u44240 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44241 {
  position:absolute;
  left:447px;
  top:606px;
  width:45px;
  height:45px;
}
#u44242 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44243 {
  position:absolute;
  left:539px;
  top:606px;
  width:45px;
  height:45px;
}
#u44244 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u44245 {
  position:absolute;
  left:643px;
  top:606px;
  width:45px;
  height:45px;
}
#u44246 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u44247_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u44247 {
  position:absolute;
  left:353px;
  top:414px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u44248 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u44249_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u44249 {
  position:absolute;
  left:455px;
  top:456px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u44250 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u44251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u44251 {
  position:absolute;
  left:241px;
  top:381px;
  width:544px;
  height:1px;
}
#u44252 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44253 {
  position:absolute;
  left:259px;
  top:289px;
  width:113px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44254 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u44255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u44255 {
  position:absolute;
  left:259px;
  top:328px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u44256 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u44257 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:479px;
}
#u44258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u44258 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u44259 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u44260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u44260 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u44261 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u44262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u44262 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u44263 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u44264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u44264 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u44265 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u44266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u44266 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u44267 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u44268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u44268 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u44269 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u44270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u44270 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u44271 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u44272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u44272 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u44273 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u44274 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u44275 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u44276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u44276 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u44277 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u44278 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:132px;
}
#u44279 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u44280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u44280 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:132px;
}
#u44281 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u44282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u44282 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:132px;
}
#u44283 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:132px;
}
#u44284 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:132px;
  text-align:left;
}
#u44285 {
  position:absolute;
  left:2px;
  top:58px;
  width:441px;
  word-wrap:break-word;
}
#u44286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:132px;
}
#u44286 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:132px;
  text-align:left;
}
#u44287 {
  position:absolute;
  left:2px;
  top:58px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u44288 {
  position:absolute;
  left:0px;
  top:300px;
  width:110px;
  height:87px;
}
#u44289 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u44290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u44290 {
  position:absolute;
  left:110px;
  top:300px;
  width:110px;
  height:87px;
}
#u44291 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u44292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u44292 {
  position:absolute;
  left:220px;
  top:300px;
  width:110px;
  height:87px;
}
#u44293 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u44294 {
  position:absolute;
  left:330px;
  top:300px;
  width:445px;
  height:87px;
  text-align:left;
}
#u44295 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u44296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u44296 {
  position:absolute;
  left:775px;
  top:300px;
  width:348px;
  height:87px;
  text-align:left;
}
#u44297 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u44298 {
  position:absolute;
  left:0px;
  top:387px;
  width:110px;
  height:87px;
}
#u44299 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u44300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u44300 {
  position:absolute;
  left:110px;
  top:387px;
  width:110px;
  height:87px;
}
#u44301 {
  position:absolute;
  left:2px;
  top:28px;
  width:106px;
  word-wrap:break-word;
}
#u44302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u44302 {
  position:absolute;
  left:220px;
  top:387px;
  width:110px;
  height:87px;
}
#u44303 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u44304 {
  position:absolute;
  left:330px;
  top:387px;
  width:445px;
  height:87px;
  text-align:left;
}
#u44305 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u44306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u44306 {
  position:absolute;
  left:775px;
  top:387px;
  width:348px;
  height:87px;
  text-align:left;
}
#u44307 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44308 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44309 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u44310_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u44310 {
  position:absolute;
  left:259px;
  top:168px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u44311 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u44312_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u44312 {
  position:absolute;
  left:391px;
  top:280px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u44313 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u44314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44314 {
  position:absolute;
  left:263px;
  top:360px;
  width:281px;
  height:16px;
}
#u44315 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
