body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u21456 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u21457 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u21458 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u21459 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u21460 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u21461 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u21462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21462 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u21463 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21464 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u21464_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u21464_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21465 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u21466 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21467 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21468 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u21469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21469 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u21470 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21471 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u21472 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u21473 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u21474 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u21475 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u21476 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u21477 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u21478 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u21479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21479 {
  position:absolute;
  left:252px;
  top:312px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21480 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u21481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u21481 {
  position:absolute;
  left:257px;
  top:344px;
  width:516px;
  height:1px;
}
#u21482 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21483 {
  position:absolute;
  left:712px;
  top:218px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21484 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u21485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21485 {
  position:absolute;
  left:261px;
  top:220px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21486 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u21487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21487 {
  position:absolute;
  left:362px;
  top:312px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21488 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u21489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21489 {
  position:absolute;
  left:252px;
  top:376px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21490 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u21491 {
  position:absolute;
  left:257px;
  top:408px;
  width:516px;
  height:1px;
}
#u21492 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21493 {
  position:absolute;
  left:362px;
  top:376px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21494 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u21495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u21495 {
  position:absolute;
  left:257px;
  top:467px;
  width:516px;
  height:1px;
}
#u21496 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21497 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:479px;
}
#u21498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u21498 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u21499 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u21500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u21500 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u21501 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u21502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u21502 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u21503 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u21504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u21504 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u21505 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u21506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u21506 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u21507 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u21508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u21508 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u21509 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u21510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u21510 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u21511 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u21512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u21512 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u21513 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u21514 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u21515 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u21516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u21516 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u21517 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u21518 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:132px;
}
#u21519 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u21520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u21520 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:132px;
}
#u21521 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u21522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u21522 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:132px;
}
#u21523 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:132px;
}
#u21524 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:132px;
  text-align:left;
}
#u21525 {
  position:absolute;
  left:2px;
  top:58px;
  width:441px;
  word-wrap:break-word;
}
#u21526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:132px;
}
#u21526 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:132px;
  text-align:left;
}
#u21527 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u21528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u21528 {
  position:absolute;
  left:0px;
  top:300px;
  width:110px;
  height:87px;
}
#u21529 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u21530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u21530 {
  position:absolute;
  left:110px;
  top:300px;
  width:110px;
  height:87px;
}
#u21531 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u21532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u21532 {
  position:absolute;
  left:220px;
  top:300px;
  width:110px;
  height:87px;
}
#u21533 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u21534 {
  position:absolute;
  left:330px;
  top:300px;
  width:445px;
  height:87px;
  text-align:left;
}
#u21535 {
  position:absolute;
  left:2px;
  top:28px;
  width:441px;
  word-wrap:break-word;
}
#u21536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u21536 {
  position:absolute;
  left:775px;
  top:300px;
  width:348px;
  height:87px;
  text-align:left;
}
#u21537 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u21538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u21538 {
  position:absolute;
  left:0px;
  top:387px;
  width:110px;
  height:87px;
}
#u21539 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u21540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u21540 {
  position:absolute;
  left:110px;
  top:387px;
  width:110px;
  height:87px;
}
#u21541 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u21542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u21542 {
  position:absolute;
  left:220px;
  top:387px;
  width:110px;
  height:87px;
}
#u21543 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u21544 {
  position:absolute;
  left:330px;
  top:387px;
  width:445px;
  height:87px;
  text-align:left;
}
#u21545 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u21546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u21546 {
  position:absolute;
  left:775px;
  top:387px;
  width:348px;
  height:87px;
  text-align:left;
}
#u21547 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21548 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21549 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u21550_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u21550 {
  position:absolute;
  left:254px;
  top:180px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21551 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u21552_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u21552 {
  position:absolute;
  left:672px;
  top:190px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21553 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u21554_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u21554 {
  position:absolute;
  left:489px;
  top:355px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21555 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u21556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21556 {
  position:absolute;
  left:963px;
  top:376px;
  width:359px;
  height:60px;
}
#u21557 {
  position:absolute;
  left:2px;
  top:22px;
  width:355px;
  word-wrap:break-word;
}
#u21558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u21558 {
  position:absolute;
  left:963px;
  top:312px;
  width:50px;
  height:64px;
}
#u21559 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u21560 {
  position:absolute;
  left:1033px;
  top:326px;
  width:193px;
  height:37px;
  font-size:32px;
}
#u21561 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u21562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21562 {
  position:absolute;
  left:252px;
  top:435px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21563 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u21564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21564 {
  position:absolute;
  left:362px;
  top:435px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21565 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u21566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u21566 {
  position:absolute;
  left:662px;
  top:435px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u21567 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u21568_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u21568 {
  position:absolute;
  left:516px;
  top:405px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u21569 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
