body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u17728 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u17729 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u17730 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u17731 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u17732 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u17733 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u17734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17734 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u17735 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17736 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u17736_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17736_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17737 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u17738 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17739 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17740 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u17741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17741 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u17742 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17743 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u17744 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17745 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u17746 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u17747 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u17748 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17749 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17750 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u17751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17751 {
  position:absolute;
  left:252px;
  top:312px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17752 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u17753 {
  position:absolute;
  left:257px;
  top:344px;
  width:516px;
  height:1px;
}
#u17754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17755 {
  position:absolute;
  left:712px;
  top:218px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17756 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17757 {
  position:absolute;
  left:261px;
  top:220px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u17758 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17759 {
  position:absolute;
  left:362px;
  top:312px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17760 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u17761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17761 {
  position:absolute;
  left:252px;
  top:376px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17762 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u17763 {
  position:absolute;
  left:257px;
  top:408px;
  width:516px;
  height:1px;
}
#u17764 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17765 {
  position:absolute;
  left:362px;
  top:376px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17766 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u17767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u17767 {
  position:absolute;
  left:257px;
  top:467px;
  width:516px;
  height:1px;
}
#u17768 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17769 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:479px;
}
#u17770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17770 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17771 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17772 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u17773 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17774 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u17775 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u17776 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u17777 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u17778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u17778 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u17779 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u17780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17780 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u17781 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17782 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u17783 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17784 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u17785 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u17786 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u17787 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u17788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u17788 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u17789 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u17790 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:132px;
}
#u17791 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u17792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u17792 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:132px;
}
#u17793 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u17794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u17794 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:132px;
}
#u17795 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:132px;
}
#u17796 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:132px;
  text-align:left;
}
#u17797 {
  position:absolute;
  left:2px;
  top:58px;
  width:441px;
  word-wrap:break-word;
}
#u17798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:132px;
}
#u17798 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:132px;
  text-align:left;
}
#u17799 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u17800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17800 {
  position:absolute;
  left:0px;
  top:300px;
  width:110px;
  height:87px;
}
#u17801 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17802 {
  position:absolute;
  left:110px;
  top:300px;
  width:110px;
  height:87px;
}
#u17803 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17804 {
  position:absolute;
  left:220px;
  top:300px;
  width:110px;
  height:87px;
}
#u17805 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17806 {
  position:absolute;
  left:330px;
  top:300px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17807 {
  position:absolute;
  left:2px;
  top:28px;
  width:441px;
  word-wrap:break-word;
}
#u17808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17808 {
  position:absolute;
  left:775px;
  top:300px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17809 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u17810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17810 {
  position:absolute;
  left:0px;
  top:387px;
  width:110px;
  height:87px;
}
#u17811 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17812 {
  position:absolute;
  left:110px;
  top:387px;
  width:110px;
  height:87px;
}
#u17813 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17814 {
  position:absolute;
  left:220px;
  top:387px;
  width:110px;
  height:87px;
}
#u17815 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17816 {
  position:absolute;
  left:330px;
  top:387px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17817 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u17818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17818 {
  position:absolute;
  left:775px;
  top:387px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17819 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17820 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17821 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u17822_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17822 {
  position:absolute;
  left:254px;
  top:180px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17823 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17824_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17824 {
  position:absolute;
  left:672px;
  top:190px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17825 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17826_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17826 {
  position:absolute;
  left:489px;
  top:355px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17827 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17828 {
  position:absolute;
  left:963px;
  top:376px;
  width:359px;
  height:60px;
}
#u17829 {
  position:absolute;
  left:2px;
  top:22px;
  width:355px;
  word-wrap:break-word;
}
#u17830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u17830 {
  position:absolute;
  left:963px;
  top:312px;
  width:50px;
  height:64px;
}
#u17831 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u17832 {
  position:absolute;
  left:1033px;
  top:326px;
  width:193px;
  height:37px;
  font-size:32px;
}
#u17833 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u17834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17834 {
  position:absolute;
  left:252px;
  top:435px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u17835 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u17836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17836 {
  position:absolute;
  left:362px;
  top:435px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17837 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u17838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u17838 {
  position:absolute;
  left:662px;
  top:435px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u17839 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17840_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17840 {
  position:absolute;
  left:516px;
  top:405px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17841 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
