body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u13968 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u13969 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u13970 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u13971 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u13972 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u13973 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u13974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13974 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u13975 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u13977 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u13978 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13979 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13980 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u13981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13981 {
  position:absolute;
  left:251px;
  top:216px;
  width:32px;
  height:32px;
}
#u13982 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u13984 {
  position:absolute;
  left:310px;
  top:311px;
  width:400px;
  height:400px;
}
#u13985 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13986 {
  position:absolute;
  left:293px;
  top:505px;
  width:439px;
  height:12px;
}
#u13987 {
  position:absolute;
  left:2px;
  top:-2px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13988 {
  position:absolute;
  left:291px;
  top:505px;
  width:439px;
  height:12px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u13989 {
  position:absolute;
  left:2px;
  top:-2px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13990 {
  position:absolute;
  left:284px;
  top:505px;
  width:439px;
  height:12px;
  -webkit-transform:rotate(127deg);
  -moz-transform:rotate(127deg);
  -ms-transform:rotate(127deg);
  transform:rotate(127deg);
}
#u13991 {
  position:absolute;
  left:2px;
  top:-2px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u13992 {
  position:absolute;
  left:410px;
  top:411px;
  width:200px;
  height:200px;
}
#u13993 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13994 {
  position:absolute;
  left:492px;
  top:379px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13995 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13996 {
  position:absolute;
  left:635px;
  top:463px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13997 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13998 {
  position:absolute;
  left:492px;
  top:339px;
  width:40px;
  height:40px;
}
#u13999 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14000 {
  position:absolute;
  left:635px;
  top:423px;
  width:40px;
  height:40px;
}
#u14001 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14002 {
  position:absolute;
  left:620px;
  top:589px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14003 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14004 {
  position:absolute;
  left:484px;
  top:668px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14005 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14006 {
  position:absolute;
  left:356px;
  top:578px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14007 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14008 {
  position:absolute;
  left:367px;
  top:441px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14009 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14010 {
  position:absolute;
  left:620px;
  top:549px;
  width:40px;
  height:40px;
}
#u14011 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14012 {
  position:absolute;
  left:484px;
  top:628px;
  width:40px;
  height:40px;
}
#u14013 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14014 {
  position:absolute;
  left:366px;
  top:401px;
  width:40px;
  height:40px;
}
#u14015 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14016 {
  position:absolute;
  left:356px;
  top:538px;
  width:40px;
  height:40px;
}
#u14017 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14018_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u14018 {
  position:absolute;
  left:487px;
  top:299px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14019 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u14020 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:373px;
}
#u14021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u14021 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u14022 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u14023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u14023 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u14024 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u14025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u14025 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u14026 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u14027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u14027 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u14028 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u14029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u14029 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u14030 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u14031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14031 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u14032 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u14033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14033 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u14034 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u14035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14035 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u14036 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u14037 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u14038 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u14039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u14039 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u14040 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  word-wrap:break-word;
}
#u14041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14041 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u14042 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u14043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14043 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u14044 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u14045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14045 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u14046 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u14047 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u14048 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u14049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u14049 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:100px;
  text-align:left;
}
#u14050 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14051 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:100px;
}
#u14052 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u14053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14053 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:100px;
}
#u14054 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u14055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u14055 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:100px;
}
#u14056 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u14057 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:100px;
  text-align:left;
}
#u14058 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u14059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u14059 {
  position:absolute;
  left:775px;
  top:268px;
  width:348px;
  height:100px;
  text-align:left;
}
#u14060 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14061 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14062 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u14063 {
  position:absolute;
  left:425px;
  top:426px;
  width:170px;
  height:170px;
}
#u14064 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u14065 {
  position:absolute;
  left:285px;
  top:821px;
  width:328px;
  height:119px;
  font-size:20px;
  text-align:center;
}
#u14066 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u14067_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u14067 {
  position:absolute;
  left:317px;
  top:758px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14068 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u14070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u14070 {
  position:absolute;
  left:239px;
  top:1058px;
  width:546px;
  height:90px;
}
#u14071 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u14072 {
  position:absolute;
  left:239px;
  top:1058px;
  width:141px;
  height:90px;
}
#u14073 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14075 {
  position:absolute;
  left:285px;
  top:1063px;
  width:50px;
  height:50px;
}
#u14076 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14077 {
  position:absolute;
  left:282px;
  top:1116px;
  width:53px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14078 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u14079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14080 {
  position:absolute;
  left:414px;
  top:1063px;
  width:50px;
  height:50px;
}
#u14081 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14082 {
  position:absolute;
  left:392px;
  top:1116px;
  width:94px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14083 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u14084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14085 {
  position:absolute;
  left:546px;
  top:1063px;
  width:50px;
  height:50px;
}
#u14086 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14087 {
  position:absolute;
  left:527px;
  top:1116px;
  width:88px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14088 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u14089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u14090 {
  position:absolute;
  left:690px;
  top:1063px;
  width:50px;
  height:50px;
}
#u14091 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14092 {
  position:absolute;
  left:687px;
  top:1116px;
  width:53px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u14093 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u14094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u14094 {
  position:absolute;
  left:582px;
  top:805px;
  width:150px;
  height:150px;
}
#u14095 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14096 {
  position:absolute;
  left:635px;
  top:940px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14097 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14098_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u14098 {
  position:absolute;
  left:642px;
  top:771px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14099 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u14100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u14100 {
  position:absolute;
  left:613px;
  top:836px;
  width:89px;
  height:89px;
}
#u14101 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
