body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1658px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1526px;
  height:958px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:0px;
  top:64px;
  width:1526px;
  height:958px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:471px;
  width:1522px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:98px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:64px;
  width:168px;
  height:98px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:41px;
  width:164px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2094 {
  position:absolute;
  left:1222px;
  top:99px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2096 {
  position:absolute;
  left:1335px;
  top:99px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:428px;
  top:292px;
  width:670px;
  height:486px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:235px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2100 {
  position:absolute;
  left:441px;
  top:315px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2102 {
  position:absolute;
  left:691px;
  top:680px;
  width:60px;
  height:60px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2104 {
  position:absolute;
  left:885px;
  top:680px;
  width:60px;
  height:60px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2106 {
  position:absolute;
  left:784px;
  top:680px;
  width:60px;
  height:60px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:613px;
  top:389px;
  width:300px;
  height:45px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u2109 {
  position:absolute;
  left:613px;
  top:444px;
  width:300px;
  height:45px;
}
#u2109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
}
#u2110 {
  position:absolute;
  left:613px;
  top:517px;
  width:300px;
  height:47px;
}
#u2110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2111 {
  position:absolute;
  left:518px;
  top:699px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2113 {
  position:absolute;
  left:660px;
  top:586px;
  width:97px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2115 {
  position:absolute;
  left:428px;
  top:228px;
  width:50px;
  height:64px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u2117 {
  position:absolute;
  left:498px;
  top:242px;
  width:154px;
  height:37px;
  font-size:32px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u2121 {
  position:absolute;
  left:70px;
  top:14px;
  width:154px;
  height:37px;
  font-size:32px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2124 {
  position:absolute;
  left:251px;
  top:1204px;
  width:1412px;
  height:634px;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u2127 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u2129 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u2131 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:68px;
}
#u2133 {
  position:absolute;
  left:775px;
  top:0px;
  width:632px;
  height:68px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:26px;
  width:628px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2137 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2139 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u2141 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u2142 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
}
#u2143 {
  position:absolute;
  left:775px;
  top:68px;
  width:632px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u2144 {
  position:absolute;
  left:2px;
  top:42px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2147 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2149 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u2151 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u2152 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
}
#u2153 {
  position:absolute;
  left:775px;
  top:168px;
  width:632px;
  height:100px;
  text-align:left;
}
#u2154 {
  position:absolute;
  left:2px;
  top:42px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2155 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2157 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2159 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u2161 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u2162 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:87px;
}
#u2163 {
  position:absolute;
  left:775px;
  top:268px;
  width:632px;
  height:87px;
  text-align:left;
}
#u2164 {
  position:absolute;
  left:2px;
  top:20px;
  width:628px;
  word-wrap:break-word;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:100px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2167 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:100px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u2169 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:100px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u2171 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:100px;
  text-align:left;
}
#u2172 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:100px;
}
#u2173 {
  position:absolute;
  left:775px;
  top:355px;
  width:632px;
  height:100px;
  text-align:left;
}
#u2174 {
  position:absolute;
  left:2px;
  top:42px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:455px;
  width:110px;
  height:87px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2177 {
  position:absolute;
  left:110px;
  top:455px;
  width:110px;
  height:87px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2179 {
  position:absolute;
  left:220px;
  top:455px;
  width:110px;
  height:87px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u2181 {
  position:absolute;
  left:330px;
  top:455px;
  width:445px;
  height:87px;
  text-align:left;
}
#u2182 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:87px;
}
#u2183 {
  position:absolute;
  left:775px;
  top:455px;
  width:632px;
  height:87px;
  text-align:left;
}
#u2184 {
  position:absolute;
  left:2px;
  top:36px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:542px;
  width:110px;
  height:87px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2187 {
  position:absolute;
  left:110px;
  top:542px;
  width:110px;
  height:87px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u2189 {
  position:absolute;
  left:220px;
  top:542px;
  width:110px;
  height:87px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u2191 {
  position:absolute;
  left:330px;
  top:542px;
  width:445px;
  height:87px;
  text-align:left;
}
#u2192 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:87px;
}
#u2193 {
  position:absolute;
  left:775px;
  top:542px;
  width:632px;
  height:87px;
  text-align:left;
}
#u2194 {
  position:absolute;
  left:2px;
  top:36px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2195 {
  position:absolute;
  left:267px;
  top:1139px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2197_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2197 {
  position:absolute;
  left:748px;
  top:389px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2199 {
  position:absolute;
  left:748px;
  top:449px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2201 {
  position:absolute;
  left:691px;
  top:524px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2203 {
  position:absolute;
  left:620px;
  top:577px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2205 {
  position:absolute;
  left:867px;
  top:577px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u2207 {
  position:absolute;
  left:478px;
  top:690px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u2209 {
  position:absolute;
  left:776px;
  top:586px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2211 {
  position:absolute;
  left:563px;
  top:390px;
  width:40px;
  height:40px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2213 {
  position:absolute;
  left:563px;
  top:446px;
  width:40px;
  height:40px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
