body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u23252 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u23253 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u23254 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u23255 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u23256 {
  position:absolute;
  left:270px;
  top:14px;
  width:161px;
  height:37px;
  font-size:32px;
}
#u23257 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u23258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23258 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u23259 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u23260 {
  position:absolute;
  left:362px;
  top:329px;
  width:300px;
  height:170px;
}
#u23261 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u23262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23262 {
  position:absolute;
  left:362px;
  top:981px;
  width:60px;
  height:60px;
}
#u23263 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23264 {
  position:absolute;
  left:602px;
  top:981px;
  width:60px;
  height:60px;
}
#u23265 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23266 {
  position:absolute;
  left:483px;
  top:981px;
  width:60px;
  height:60px;
}
#u23267 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23268 {
  position:absolute;
  left:362px;
  top:655px;
  width:300px;
  height:47px;
}
#u23268_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u23269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23269 {
  position:absolute;
  left:431px;
  top:924px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23270 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u23271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u23271 {
  position:absolute;
  left:349px;
  top:970px;
  width:327px;
  height:1px;
}
#u23272 {
  position:absolute;
  left:2px;
  top:-8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23273 {
  position:absolute;
  left:409px;
  top:724px;
  width:97px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23274 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23275_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u23275 {
  position:absolute;
  left:463px;
  top:527px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23276 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u23277_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u23277 {
  position:absolute;
  left:463px;
  top:587px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23278 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u23279_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u23279 {
  position:absolute;
  left:443px;
  top:662px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23280 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u23281_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u23281 {
  position:absolute;
  left:616px;
  top:712px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23282 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u23283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u23284 {
  position:absolute;
  left:525px;
  top:726px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23285 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u23286 {
  position:absolute;
  left:210px;
  top:1392px;
  width:1128px;
  height:634px;
}
#u23287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u23287 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u23288 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u23289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u23289 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u23290 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u23291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u23291 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u23292 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u23293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u23293 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u23294 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u23295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u23295 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u23296 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u23297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23297 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u23298 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u23299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23299 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u23300 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u23301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23301 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u23302 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u23303 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u23304 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u23305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u23305 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u23306 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23307 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u23308 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u23309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23309 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u23310 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u23311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23311 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u23312 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u23313 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u23314 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u23315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u23315 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:100px;
  text-align:left;
}
#u23316 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23317 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u23318 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u23319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23319 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u23320 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u23321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23321 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u23322 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u23323 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u23324 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u23325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u23325 {
  position:absolute;
  left:775px;
  top:268px;
  width:348px;
  height:87px;
  text-align:left;
}
#u23326 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u23327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23327 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:100px;
}
#u23328 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u23329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23329 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:100px;
}
#u23330 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u23331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u23331 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:100px;
}
#u23332 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u23333 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:100px;
  text-align:left;
}
#u23334 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u23335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u23335 {
  position:absolute;
  left:775px;
  top:355px;
  width:348px;
  height:100px;
  text-align:left;
}
#u23336 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23337 {
  position:absolute;
  left:0px;
  top:455px;
  width:110px;
  height:87px;
}
#u23338 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u23339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23339 {
  position:absolute;
  left:110px;
  top:455px;
  width:110px;
  height:87px;
}
#u23340 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u23341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23341 {
  position:absolute;
  left:220px;
  top:455px;
  width:110px;
  height:87px;
}
#u23342 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u23343 {
  position:absolute;
  left:330px;
  top:455px;
  width:445px;
  height:87px;
  text-align:left;
}
#u23344 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u23345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u23345 {
  position:absolute;
  left:775px;
  top:455px;
  width:348px;
  height:87px;
  text-align:left;
}
#u23346 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23347 {
  position:absolute;
  left:0px;
  top:542px;
  width:110px;
  height:87px;
}
#u23348 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u23349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23349 {
  position:absolute;
  left:110px;
  top:542px;
  width:110px;
  height:87px;
}
#u23350 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u23351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u23351 {
  position:absolute;
  left:220px;
  top:542px;
  width:110px;
  height:87px;
}
#u23352 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u23353 {
  position:absolute;
  left:330px;
  top:542px;
  width:445px;
  height:87px;
  text-align:left;
}
#u23354 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u23355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u23355 {
  position:absolute;
  left:775px;
  top:542px;
  width:348px;
  height:87px;
  text-align:left;
}
#u23356 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23357 {
  position:absolute;
  left:226px;
  top:1327px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23358 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u23359_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u23359 {
  position:absolute;
  left:369px;
  top:715px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23360 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u23361_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u23361 {
  position:absolute;
  left:391px;
  top:920px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u23362 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u23363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23363 {
  position:absolute;
  left:322px;
  top:530px;
  width:40px;
  height:40px;
}
#u23364 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23365 {
  position:absolute;
  left:322px;
  top:586px;
  width:40px;
  height:40px;
}
#u23366 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:2px;
}
#u23367 {
  position:absolute;
  left:362px;
  top:571px;
  width:293px;
  height:1px;
}
#u23368 {
  position:absolute;
  left:2px;
  top:-8px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u23369 {
  position:absolute;
  left:362px;
  top:542px;
  width:83px;
  height:16px;
  color:#BCBCBC;
}
#u23370 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u23371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:2px;
}
#u23371 {
  position:absolute;
  left:362px;
  top:626px;
  width:293px;
  height:1px;
}
#u23372 {
  position:absolute;
  left:2px;
  top:-8px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23373 {
  position:absolute;
  left:362px;
  top:597px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u23374 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
