body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u40238 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u40239 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u40240 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u40241 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u40242 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u40243 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u40244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40244 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u40245 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40246 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u40246_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40246_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40247 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u40248 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40249 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40250 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u40251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u40251 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u40252 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u40253 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u40254 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u40255 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u40256 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u40258 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u40259 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40260 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40261 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u40262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u40262 {
  position:absolute;
  left:251px;
  top:216px;
  width:32px;
  height:32px;
}
#u40263 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:90px;
}
#u40266 {
  position:absolute;
  left:239px;
  top:1058px;
  width:546px;
  height:90px;
}
#u40267 {
  position:absolute;
  left:2px;
  top:37px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:90px;
}
#u40268 {
  position:absolute;
  left:239px;
  top:1058px;
  width:141px;
  height:90px;
}
#u40269 {
  position:absolute;
  left:2px;
  top:37px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40270 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40271 {
  position:absolute;
  left:285px;
  top:1063px;
  width:50px;
  height:50px;
}
#u40272 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40273 {
  position:absolute;
  left:282px;
  top:1116px;
  width:53px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40274 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u40275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40276 {
  position:absolute;
  left:414px;
  top:1063px;
  width:50px;
  height:50px;
}
#u40277 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40278 {
  position:absolute;
  left:411px;
  top:1116px;
  width:53px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40279 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u40280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40281 {
  position:absolute;
  left:546px;
  top:1063px;
  width:50px;
  height:50px;
}
#u40282 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40283 {
  position:absolute;
  left:543px;
  top:1116px;
  width:53px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40284 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u40285 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40286 {
  position:absolute;
  left:690px;
  top:1063px;
  width:50px;
  height:50px;
}
#u40287 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40288 {
  position:absolute;
  left:687px;
  top:1116px;
  width:53px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u40289 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u40290 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
}
#u40291 {
  position:absolute;
  left:310px;
  top:311px;
  width:400px;
  height:400px;
}
#u40292 {
  position:absolute;
  left:2px;
  top:192px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40293 {
  position:absolute;
  left:293px;
  top:505px;
  width:439px;
  height:12px;
}
#u40294 {
  position:absolute;
  left:2px;
  top:-2px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40295 {
  position:absolute;
  left:291px;
  top:505px;
  width:439px;
  height:12px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u40296 {
  position:absolute;
  left:2px;
  top:-2px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40297 {
  position:absolute;
  left:284px;
  top:505px;
  width:439px;
  height:12px;
  -webkit-transform:rotate(127deg);
  -moz-transform:rotate(127deg);
  -ms-transform:rotate(127deg);
  transform:rotate(127deg);
}
#u40298 {
  position:absolute;
  left:2px;
  top:-2px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u40299 {
  position:absolute;
  left:410px;
  top:411px;
  width:200px;
  height:200px;
}
#u40300 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40301 {
  position:absolute;
  left:492px;
  top:379px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40302 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40303 {
  position:absolute;
  left:635px;
  top:463px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40304 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40305 {
  position:absolute;
  left:492px;
  top:339px;
  width:40px;
  height:40px;
}
#u40306 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40307 {
  position:absolute;
  left:635px;
  top:423px;
  width:40px;
  height:40px;
}
#u40308 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40309 {
  position:absolute;
  left:620px;
  top:589px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40310 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40311 {
  position:absolute;
  left:484px;
  top:668px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40312 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40313 {
  position:absolute;
  left:356px;
  top:578px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40314 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40315 {
  position:absolute;
  left:367px;
  top:441px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40316 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u40317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40317 {
  position:absolute;
  left:620px;
  top:549px;
  width:40px;
  height:40px;
}
#u40318 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40319 {
  position:absolute;
  left:484px;
  top:628px;
  width:40px;
  height:40px;
}
#u40320 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40321 {
  position:absolute;
  left:366px;
  top:401px;
  width:40px;
  height:40px;
}
#u40322 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40323 {
  position:absolute;
  left:356px;
  top:538px;
  width:40px;
  height:40px;
}
#u40324 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40325_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u40325 {
  position:absolute;
  left:487px;
  top:299px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40326 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u40327 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:260px;
}
#u40328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u40328 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u40329 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u40330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u40330 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u40331 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u40332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u40332 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u40333 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u40334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u40334 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u40335 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u40336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u40336 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u40337 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u40338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u40338 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u40339 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u40340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u40340 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u40341 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u40342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u40342 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u40343 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u40344 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u40345 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u40346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u40346 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u40347 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  word-wrap:break-word;
}
#u40348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u40348 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:87px;
}
#u40349 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u40350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u40350 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:87px;
}
#u40351 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u40352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u40352 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:87px;
}
#u40353 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u40354 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:87px;
  text-align:left;
}
#u40355 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u40356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u40356 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:87px;
  text-align:left;
}
#u40357 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40358 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40359 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u40360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u40360 {
  position:absolute;
  left:425px;
  top:426px;
  width:170px;
  height:170px;
}
#u40361 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u40362 {
  position:absolute;
  left:282px;
  top:756px;
  width:328px;
  height:220px;
  font-size:20px;
}
#u40363 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u40364_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u40364 {
  position:absolute;
  left:293px;
  top:706px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40365 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u40366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u40366 {
  position:absolute;
  left:582px;
  top:805px;
  width:150px;
  height:150px;
}
#u40367 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40368 {
  position:absolute;
  left:635px;
  top:940px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40369 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u40370_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u40370 {
  position:absolute;
  left:642px;
  top:771px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40371 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u40372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:89px;
}
#u40372 {
  position:absolute;
  left:613px;
  top:836px;
  width:89px;
  height:89px;
}
#u40373 {
  position:absolute;
  left:2px;
  top:36px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
