<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>象山县党员和监察对象查询和对比系统</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <!-- tag::logout[] -->
    <div class="statusheader">
    	<div class="systemflag">
    		<span>xxx系统</span>
    	</div>
    	<div class="headerlogin">
	        <span>您好,</span> <span th:text="${#authentication.name}">user</span><span>.</span> 
	        <span>|</span><div>
		        <form th:action="@{/logout}" method="post">
		            <input type="submit" value="注销"/>
		        </form>
	        </div>
        </div>
    </div>
    <!-- end::logout[] -->

    <div id="react"></div>

    <script src="built/bundle.js"></script>

</body>
</html>