body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u45850 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u45851 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u45852 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u45853 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u45854 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u45855 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u45856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45856 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u45857 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45858 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u45858_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45858_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45859 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u45860 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45861 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45862 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u45863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u45863 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u45864 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u45865 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u45866 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u45867 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u45868 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u45869 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u45870 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u45871 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u45872 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u45873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45873 {
  position:absolute;
  left:252px;
  top:312px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45874 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u45875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u45875 {
  position:absolute;
  left:257px;
  top:344px;
  width:516px;
  height:1px;
}
#u45876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45877 {
  position:absolute;
  left:712px;
  top:218px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45878 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u45879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45879 {
  position:absolute;
  left:261px;
  top:220px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u45880 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u45881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45881 {
  position:absolute;
  left:362px;
  top:312px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45882 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u45883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45883 {
  position:absolute;
  left:252px;
  top:376px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45884 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u45885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u45885 {
  position:absolute;
  left:257px;
  top:408px;
  width:516px;
  height:1px;
}
#u45886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u45887 {
  position:absolute;
  left:362px;
  top:376px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u45888 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u45889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u45889 {
  position:absolute;
  left:257px;
  top:467px;
  width:516px;
  height:1px;
}
#u45890 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45891 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:479px;
}
#u45892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u45892 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u45893 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u45894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u45894 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u45895 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u45896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u45896 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u45897 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u45898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u45898 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u45899 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u45900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u45900 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u45901 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u45902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u45902 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u45903 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u45904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u45904 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u45905 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u45906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u45906 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u45907 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u45908 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u45909 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u45910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u45910 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u45911 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u45912 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:132px;
}
#u45913 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u45914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u45914 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:132px;
}
#u45915 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u45916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u45916 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:132px;
}
#u45917 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:132px;
}
#u45918 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:132px;
  text-align:left;
}
#u45919 {
  position:absolute;
  left:2px;
  top:58px;
  width:441px;
  word-wrap:break-word;
}
#u45920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:132px;
}
#u45920 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:132px;
  text-align:left;
}
#u45921 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u45922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u45922 {
  position:absolute;
  left:0px;
  top:300px;
  width:110px;
  height:87px;
}
#u45923 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u45924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u45924 {
  position:absolute;
  left:110px;
  top:300px;
  width:110px;
  height:87px;
}
#u45925 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u45926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u45926 {
  position:absolute;
  left:220px;
  top:300px;
  width:110px;
  height:87px;
}
#u45927 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u45928 {
  position:absolute;
  left:330px;
  top:300px;
  width:445px;
  height:87px;
  text-align:left;
}
#u45929 {
  position:absolute;
  left:2px;
  top:28px;
  width:441px;
  word-wrap:break-word;
}
#u45930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u45930 {
  position:absolute;
  left:775px;
  top:300px;
  width:348px;
  height:87px;
  text-align:left;
}
#u45931 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u45932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u45932 {
  position:absolute;
  left:0px;
  top:387px;
  width:110px;
  height:87px;
}
#u45933 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u45934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u45934 {
  position:absolute;
  left:110px;
  top:387px;
  width:110px;
  height:87px;
}
#u45935 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u45936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u45936 {
  position:absolute;
  left:220px;
  top:387px;
  width:110px;
  height:87px;
}
#u45937 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u45938 {
  position:absolute;
  left:330px;
  top:387px;
  width:445px;
  height:87px;
  text-align:left;
}
#u45939 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u45940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u45940 {
  position:absolute;
  left:775px;
  top:387px;
  width:348px;
  height:87px;
  text-align:left;
}
#u45941 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45942 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u45943 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u45944_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u45944 {
  position:absolute;
  left:254px;
  top:180px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u45945 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u45946_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u45946 {
  position:absolute;
  left:672px;
  top:190px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u45947 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u45948_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u45948 {
  position:absolute;
  left:489px;
  top:355px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u45949 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u45950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45950 {
  position:absolute;
  left:963px;
  top:376px;
  width:359px;
  height:60px;
}
#u45951 {
  position:absolute;
  left:2px;
  top:22px;
  width:355px;
  word-wrap:break-word;
}
#u45952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u45952 {
  position:absolute;
  left:963px;
  top:312px;
  width:50px;
  height:64px;
}
#u45953 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u45954 {
  position:absolute;
  left:1033px;
  top:326px;
  width:193px;
  height:37px;
  font-size:32px;
}
#u45955 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u45956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45956 {
  position:absolute;
  left:252px;
  top:435px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45957 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u45958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u45958 {
  position:absolute;
  left:362px;
  top:435px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u45959 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u45960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u45960 {
  position:absolute;
  left:662px;
  top:435px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u45961 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u45962_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u45962 {
  position:absolute;
  left:516px;
  top:405px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u45963 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
