body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1322px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u15607 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u15608 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u15609 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u15610 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u15611 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u15612 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u15613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15613 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u15614 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u15615 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u15616 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u15617 {
  position:absolute;
  left:441px;
  top:218px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u15618 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u15619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15619 {
  position:absolute;
  left:252px;
  top:312px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15620 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u15621 {
  position:absolute;
  left:257px;
  top:344px;
  width:516px;
  height:1px;
}
#u15622 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15623 {
  position:absolute;
  left:712px;
  top:218px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15624 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15625 {
  position:absolute;
  left:261px;
  top:220px;
  width:41px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15626 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15627 {
  position:absolute;
  left:362px;
  top:312px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15628 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u15629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15629 {
  position:absolute;
  left:252px;
  top:376px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15630 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u15631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u15631 {
  position:absolute;
  left:257px;
  top:408px;
  width:516px;
  height:1px;
}
#u15632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15633 {
  position:absolute;
  left:362px;
  top:376px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15634 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u15635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15635 {
  position:absolute;
  left:252px;
  top:435px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15636 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u15637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u15637 {
  position:absolute;
  left:257px;
  top:467px;
  width:516px;
  height:1px;
}
#u15638 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15639 {
  position:absolute;
  left:362px;
  top:435px;
  width:361px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15640 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u15641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15641 {
  position:absolute;
  left:255px;
  top:495px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u15642 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:2px;
}
#u15643 {
  position:absolute;
  left:260px;
  top:527px;
  width:516px;
  height:1px;
}
#u15644 {
  position:absolute;
  left:2px;
  top:-8px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15645 {
  position:absolute;
  left:365px;
  top:495px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u15646 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u15647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u15647 {
  position:absolute;
  left:662px;
  top:376px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u15648 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u15649 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:566px;
}
#u15650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u15650 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u15651 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u15652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u15652 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u15653 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u15654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u15654 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u15655 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u15656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u15656 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u15657 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u15658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u15658 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u15659 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u15660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u15660 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u15661 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u15662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u15662 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u15663 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u15664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u15664 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u15665 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u15666 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  text-align:left;
}
#u15667 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u15668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u15668 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  text-align:left;
}
#u15669 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u15670 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:132px;
}
#u15671 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u15672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u15672 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:132px;
}
#u15673 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  word-wrap:break-word;
}
#u15674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:132px;
}
#u15674 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:132px;
}
#u15675 {
  position:absolute;
  left:2px;
  top:58px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:132px;
}
#u15676 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:132px;
  text-align:left;
}
#u15677 {
  position:absolute;
  left:2px;
  top:58px;
  width:441px;
  word-wrap:break-word;
}
#u15678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:132px;
}
#u15678 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:132px;
  text-align:left;
}
#u15679 {
  position:absolute;
  left:2px;
  top:2px;
  width:344px;
  word-wrap:break-word;
}
#u15680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15680 {
  position:absolute;
  left:0px;
  top:300px;
  width:110px;
  height:87px;
}
#u15681 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u15682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15682 {
  position:absolute;
  left:110px;
  top:300px;
  width:110px;
  height:87px;
}
#u15683 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u15684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15684 {
  position:absolute;
  left:220px;
  top:300px;
  width:110px;
  height:87px;
}
#u15685 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u15686 {
  position:absolute;
  left:330px;
  top:300px;
  width:445px;
  height:87px;
  text-align:left;
}
#u15687 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u15688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u15688 {
  position:absolute;
  left:775px;
  top:300px;
  width:348px;
  height:87px;
  text-align:left;
}
#u15689 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15690 {
  position:absolute;
  left:0px;
  top:387px;
  width:110px;
  height:87px;
}
#u15691 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u15692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15692 {
  position:absolute;
  left:110px;
  top:387px;
  width:110px;
  height:87px;
}
#u15693 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u15694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15694 {
  position:absolute;
  left:220px;
  top:387px;
  width:110px;
  height:87px;
}
#u15695 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u15696 {
  position:absolute;
  left:330px;
  top:387px;
  width:445px;
  height:87px;
  text-align:left;
}
#u15697 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u15698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u15698 {
  position:absolute;
  left:775px;
  top:387px;
  width:348px;
  height:87px;
  text-align:left;
}
#u15699 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15700 {
  position:absolute;
  left:0px;
  top:474px;
  width:110px;
  height:87px;
}
#u15701 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u15702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15702 {
  position:absolute;
  left:110px;
  top:474px;
  width:110px;
  height:87px;
}
#u15703 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u15704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u15704 {
  position:absolute;
  left:220px;
  top:474px;
  width:110px;
  height:87px;
}
#u15705 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u15706 {
  position:absolute;
  left:330px;
  top:474px;
  width:445px;
  height:87px;
  text-align:left;
}
#u15707 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u15708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u15708 {
  position:absolute;
  left:775px;
  top:474px;
  width:348px;
  height:87px;
  text-align:left;
}
#u15709 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15710 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15711 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u15712_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u15712 {
  position:absolute;
  left:254px;
  top:180px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15713 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u15714_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u15714 {
  position:absolute;
  left:672px;
  top:190px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15715 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u15716_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u15716 {
  position:absolute;
  left:489px;
  top:355px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15717 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u15718_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u15718 {
  position:absolute;
  left:723px;
  top:408px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15719 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u15720_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u15720 {
  position:absolute;
  left:489px;
  top:477px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15721 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u15722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15722 {
  position:absolute;
  left:963px;
  top:376px;
  width:359px;
  height:60px;
}
#u15723 {
  position:absolute;
  left:2px;
  top:22px;
  width:355px;
  word-wrap:break-word;
}
#u15724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u15724 {
  position:absolute;
  left:963px;
  top:312px;
  width:50px;
  height:64px;
}
#u15725 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u15726 {
  position:absolute;
  left:1033px;
  top:326px;
  width:193px;
  height:37px;
  font-size:32px;
}
#u15727 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
