body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u17935 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u17936 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u17937 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u17938 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u17939 {
  position:absolute;
  left:270px;
  top:14px;
  width:97px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u17940 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  visibility:hidden;
  white-space:nowrap;
}
#u17941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17941 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u17942 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17943 {
  position:absolute;
  left:240px;
  top:978px;
  visibility:hidden;
}
#u17943_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17943_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17944 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:171px;
}
#u17945 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17946 {
  position:absolute;
  left:250px;
  top:11px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17947 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u17948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17948 {
  position:absolute;
  left:123px;
  top:72px;
  width:60px;
  height:60px;
}
#u17949 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17950 {
  position:absolute;
  left:363px;
  top:72px;
  width:60px;
  height:60px;
}
#u17951 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17952 {
  position:absolute;
  left:244px;
  top:72px;
  width:60px;
  height:60px;
}
#u17953 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u17954 {
  position:absolute;
  left:239px;
  top:178px;
  width:546px;
  height:84px;
}
#u17955 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17956 {
  position:absolute;
  left:251px;
  top:216px;
  width:32px;
  height:32px;
}
#u17957 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17958 {
  position:absolute;
  left:142px;
  top:1414px;
  width:1128px;
  height:395px;
}
#u17959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17959 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17960 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17961 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u17962 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17963 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u17964 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u17965 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u17966 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u17967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u17967 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u17968 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u17969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:148px;
}
#u17969 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:148px;
}
#u17970 {
  position:absolute;
  left:2px;
  top:66px;
  width:106px;
  word-wrap:break-word;
}
#u17971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:148px;
}
#u17971 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:148px;
}
#u17972 {
  position:absolute;
  left:2px;
  top:66px;
  width:106px;
  word-wrap:break-word;
}
#u17973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:148px;
}
#u17973 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:148px;
}
#u17974 {
  position:absolute;
  left:2px;
  top:66px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:148px;
}
#u17975 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:148px;
  text-align:left;
}
#u17976 {
  position:absolute;
  left:2px;
  top:2px;
  width:441px;
  word-wrap:break-word;
}
#u17977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:148px;
}
#u17977 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:148px;
  text-align:left;
}
#u17978 {
  position:absolute;
  left:2px;
  top:66px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17979 {
  position:absolute;
  left:0px;
  top:216px;
  width:110px;
  height:87px;
}
#u17980 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17981 {
  position:absolute;
  left:110px;
  top:216px;
  width:110px;
  height:87px;
}
#u17982 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17983 {
  position:absolute;
  left:220px;
  top:216px;
  width:110px;
  height:87px;
}
#u17984 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17985 {
  position:absolute;
  left:330px;
  top:216px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17986 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u17987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17987 {
  position:absolute;
  left:775px;
  top:216px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17988 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17989 {
  position:absolute;
  left:0px;
  top:303px;
  width:110px;
  height:87px;
}
#u17990 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17991 {
  position:absolute;
  left:110px;
  top:303px;
  width:110px;
  height:87px;
}
#u17992 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17993 {
  position:absolute;
  left:220px;
  top:303px;
  width:110px;
  height:87px;
}
#u17994 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17995 {
  position:absolute;
  left:330px;
  top:303px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17996 {
  position:absolute;
  left:2px;
  top:12px;
  width:441px;
  word-wrap:break-word;
}
#u17997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17997 {
  position:absolute;
  left:775px;
  top:303px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17998 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17999 {
  position:absolute;
  left:158px;
  top:1349px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18000 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u18001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:198px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18001 {
  position:absolute;
  left:241px;
  top:262px;
  width:542px;
  height:198px;
}
#u18002 {
  position:absolute;
  left:2px;
  top:91px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u18003 {
  position:absolute;
  left:240px;
  top:326px;
  width:544px;
  height:1px;
}
#u18004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:24px;
}
#u18005 {
  position:absolute;
  left:251px;
  top:281px;
  width:285px;
  height:24px;
}
#u18006 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u18007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18007 {
  position:absolute;
  left:274px;
  top:337px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u18008 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18009 {
  position:absolute;
  left:357px;
  top:337px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u18010 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18011 {
  position:absolute;
  left:446px;
  top:337px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u18012 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18013 {
  position:absolute;
  left:538px;
  top:337px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u18014 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18015 {
  position:absolute;
  left:642px;
  top:337px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u18016 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:2px;
}
#u18017 {
  position:absolute;
  left:240px;
  top:446px;
  width:544px;
  height:1px;
}
#u18018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:24px;
}
#u18019 {
  position:absolute;
  left:251px;
  top:401px;
  width:285px;
  height:24px;
}
#u18020 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u18021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18021 {
  position:absolute;
  left:274px;
  top:457px;
  width:45px;
  height:45px;
  color:#FFFFFF;
}
#u18022 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18023 {
  position:absolute;
  left:357px;
  top:457px;
  width:45px;
  height:45px;
}
#u18024 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18025 {
  position:absolute;
  left:446px;
  top:457px;
  width:45px;
  height:45px;
}
#u18026 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18027 {
  position:absolute;
  left:538px;
  top:457px;
  width:45px;
  height:45px;
}
#u18028 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u18029 {
  position:absolute;
  left:642px;
  top:457px;
  width:45px;
  height:45px;
}
#u18030 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u18031_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u18031 {
  position:absolute;
  left:486px;
  top:176px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u18032 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u18033_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u18033 {
  position:absolute;
  left:257px;
  top:176px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u18034 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u18035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u18035 {
  position:absolute;
  left:274px;
  top:14px;
  width:193px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u18036 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u18037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18038 {
  position:absolute;
  left:1644px;
  top:243px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u18039 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18040 {
  position:absolute;
  left:1607px;
  top:247px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18041 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18042 {
  position:absolute;
  left:1557px;
  top:270px;
  width:125px;
  height:140px;
  overflow:hidden;
  visibility:hidden;
}
#u18042_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:140px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18042_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18043 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:70px;
}
#u18044 {
  position:absolute;
  left:2px;
  top:27px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18045 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
}
#u18046 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18047 {
  position:absolute;
  left:0px;
  top:35px;
  width:126px;
  height:35px;
}
#u18048 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18049 {
  position:absolute;
  left:0px;
  top:70px;
  width:126px;
  height:35px;
}
#u18050 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18051 {
  position:absolute;
  left:0px;
  top:105px;
  width:126px;
  height:35px;
}
#u18052 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u18053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
}
#u18053 {
  position:absolute;
  left:448px;
  top:216px;
  width:128px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18054 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
