body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u17198 {
  position:absolute;
  left:210px;
  top:82px;
  width:614px;
  height:1205px;
}
#u17199 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u17200 {
  position:absolute;
  left:200px;
  top:0px;
  width:50px;
  height:64px;
}
#u17201 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
}
#u17202 {
  position:absolute;
  left:270px;
  top:14px;
  width:161px;
  height:37px;
  font-size:32px;
}
#u17203 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u17204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17204 {
  position:absolute;
  left:240px;
  top:178px;
  width:546px;
  height:970px;
}
#u17205 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u17206 {
  position:absolute;
  left:362px;
  top:329px;
  width:300px;
  height:170px;
}
#u17207 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  word-wrap:break-word;
}
#u17208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17208 {
  position:absolute;
  left:362px;
  top:981px;
  width:60px;
  height:60px;
}
#u17209 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17210 {
  position:absolute;
  left:602px;
  top:981px;
  width:60px;
  height:60px;
}
#u17211 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u17212 {
  position:absolute;
  left:483px;
  top:981px;
  width:60px;
  height:60px;
}
#u17213 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17214 {
  position:absolute;
  left:362px;
  top:655px;
  width:300px;
  height:47px;
}
#u17214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u17215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17215 {
  position:absolute;
  left:431px;
  top:924px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17216 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u17217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u17217 {
  position:absolute;
  left:349px;
  top:970px;
  width:327px;
  height:1px;
}
#u17218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17219 {
  position:absolute;
  left:409px;
  top:724px;
  width:97px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17220 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u17221_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17221 {
  position:absolute;
  left:463px;
  top:527px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17222 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17223_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17223 {
  position:absolute;
  left:463px;
  top:587px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17224 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17225_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17225 {
  position:absolute;
  left:443px;
  top:662px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17226 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17227_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17227 {
  position:absolute;
  left:616px;
  top:712px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17228 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u17230 {
  position:absolute;
  left:525px;
  top:726px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17231 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u17232 {
  position:absolute;
  left:210px;
  top:1392px;
  width:1128px;
  height:634px;
}
#u17233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17233 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17234 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17235 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:68px;
}
#u17236 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:68px;
}
#u17237 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:68px;
}
#u17238 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u17239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:68px;
}
#u17239 {
  position:absolute;
  left:330px;
  top:0px;
  width:445px;
  height:68px;
}
#u17240 {
  position:absolute;
  left:2px;
  top:26px;
  width:441px;
  word-wrap:break-word;
}
#u17241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:68px;
}
#u17241 {
  position:absolute;
  left:775px;
  top:0px;
  width:348px;
  height:68px;
}
#u17242 {
  position:absolute;
  left:2px;
  top:26px;
  width:344px;
  word-wrap:break-word;
}
#u17243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17243 {
  position:absolute;
  left:0px;
  top:68px;
  width:110px;
  height:100px;
}
#u17244 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17245 {
  position:absolute;
  left:110px;
  top:68px;
  width:110px;
  height:100px;
}
#u17246 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17247 {
  position:absolute;
  left:220px;
  top:68px;
  width:110px;
  height:100px;
}
#u17248 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u17249 {
  position:absolute;
  left:330px;
  top:68px;
  width:445px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u17250 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u17251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u17251 {
  position:absolute;
  left:775px;
  top:68px;
  width:348px;
  height:100px;
  font-size:14px;
  text-align:left;
}
#u17252 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17253 {
  position:absolute;
  left:0px;
  top:168px;
  width:110px;
  height:100px;
}
#u17254 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17255 {
  position:absolute;
  left:110px;
  top:168px;
  width:110px;
  height:100px;
}
#u17256 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17257 {
  position:absolute;
  left:220px;
  top:168px;
  width:110px;
  height:100px;
}
#u17258 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u17259 {
  position:absolute;
  left:330px;
  top:168px;
  width:445px;
  height:100px;
  text-align:left;
}
#u17260 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u17261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u17261 {
  position:absolute;
  left:775px;
  top:168px;
  width:348px;
  height:100px;
  text-align:left;
}
#u17262 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17263 {
  position:absolute;
  left:0px;
  top:268px;
  width:110px;
  height:87px;
}
#u17264 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17265 {
  position:absolute;
  left:110px;
  top:268px;
  width:110px;
  height:87px;
}
#u17266 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17267 {
  position:absolute;
  left:220px;
  top:268px;
  width:110px;
  height:87px;
}
#u17268 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17269 {
  position:absolute;
  left:330px;
  top:268px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17270 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u17271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17271 {
  position:absolute;
  left:775px;
  top:268px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17272 {
  position:absolute;
  left:2px;
  top:4px;
  width:344px;
  word-wrap:break-word;
}
#u17273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17273 {
  position:absolute;
  left:0px;
  top:355px;
  width:110px;
  height:100px;
}
#u17274 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17275 {
  position:absolute;
  left:110px;
  top:355px;
  width:110px;
  height:100px;
}
#u17276 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  word-wrap:break-word;
}
#u17277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u17277 {
  position:absolute;
  left:220px;
  top:355px;
  width:110px;
  height:100px;
}
#u17278 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:100px;
}
#u17279 {
  position:absolute;
  left:330px;
  top:355px;
  width:445px;
  height:100px;
  text-align:left;
}
#u17280 {
  position:absolute;
  left:2px;
  top:42px;
  width:441px;
  word-wrap:break-word;
}
#u17281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:100px;
}
#u17281 {
  position:absolute;
  left:775px;
  top:355px;
  width:348px;
  height:100px;
  text-align:left;
}
#u17282 {
  position:absolute;
  left:2px;
  top:42px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17283 {
  position:absolute;
  left:0px;
  top:455px;
  width:110px;
  height:87px;
}
#u17284 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17285 {
  position:absolute;
  left:110px;
  top:455px;
  width:110px;
  height:87px;
}
#u17286 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17287 {
  position:absolute;
  left:220px;
  top:455px;
  width:110px;
  height:87px;
}
#u17288 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17289 {
  position:absolute;
  left:330px;
  top:455px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17290 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u17291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17291 {
  position:absolute;
  left:775px;
  top:455px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17292 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17293 {
  position:absolute;
  left:0px;
  top:542px;
  width:110px;
  height:87px;
}
#u17294 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17295 {
  position:absolute;
  left:110px;
  top:542px;
  width:110px;
  height:87px;
}
#u17296 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  word-wrap:break-word;
}
#u17297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:87px;
}
#u17297 {
  position:absolute;
  left:220px;
  top:542px;
  width:110px;
  height:87px;
}
#u17298 {
  position:absolute;
  left:2px;
  top:36px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:87px;
}
#u17299 {
  position:absolute;
  left:330px;
  top:542px;
  width:445px;
  height:87px;
  text-align:left;
}
#u17300 {
  position:absolute;
  left:2px;
  top:36px;
  width:441px;
  word-wrap:break-word;
}
#u17301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:87px;
}
#u17301 {
  position:absolute;
  left:775px;
  top:542px;
  width:348px;
  height:87px;
  text-align:left;
}
#u17302 {
  position:absolute;
  left:2px;
  top:36px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17303 {
  position:absolute;
  left:226px;
  top:1327px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17304 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u17305_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17305 {
  position:absolute;
  left:369px;
  top:715px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17306 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17307_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u17307 {
  position:absolute;
  left:391px;
  top:920px;
  width:30px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u17308 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u17309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17309 {
  position:absolute;
  left:322px;
  top:530px;
  width:40px;
  height:40px;
}
#u17310 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17311 {
  position:absolute;
  left:322px;
  top:586px;
  width:40px;
  height:40px;
}
#u17312 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:2px;
}
#u17313 {
  position:absolute;
  left:362px;
  top:571px;
  width:293px;
  height:1px;
}
#u17314 {
  position:absolute;
  left:2px;
  top:-8px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u17315 {
  position:absolute;
  left:362px;
  top:542px;
  width:83px;
  height:16px;
  color:#BCBCBC;
}
#u17316 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u17317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:2px;
}
#u17317 {
  position:absolute;
  left:362px;
  top:626px;
  width:293px;
  height:1px;
}
#u17318 {
  position:absolute;
  left:2px;
  top:-8px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17319 {
  position:absolute;
  left:362px;
  top:597px;
  width:27px;
  height:16px;
  color:#BCBCBC;
}
#u17320 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
